.body {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", "PingFang SC", "Microsoft YaHei", sans-serif;

    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

$erro-color-raw: 'F56C6C';
$warn-color-raw: 'E6A23C';
$succ-color-raw: '67C23A';
$info-color-raw: '409EFF';

$erro-color: #F56C6C;
$warn-color: #E6A23C;
$succ-color: #67C23A;
$info-color: #409EFF;

.color-theme-light {
    --callout-head-info: #{darken($info-color, 30%)};
    --callout-head-succ: #{darken($succ-color, 30%)};
    --callout-head-warn: #{darken($warn-color, 30%)};
    --callout-head-erro: #{darken($erro-color, 30%)};

    --callout-text-info: #{darken($info-color, 40%)};
    --callout-text-succ: #{darken($succ-color, 40%)};
    --callout-text-warn: #{darken($warn-color, 40%)};
    --callout-text-erro: #{darken($erro-color, 40%)};
}

.color-theme-dark {
    --callout-head-info: #{lighten($info-color, 30%)};
    --callout-head-succ: #{lighten($succ-color, 30%)};
    --callout-head-warn: #{lighten($warn-color, 30%)};
    --callout-head-erro: #{lighten($erro-color, 30%)};

    --callout-text-info: #{lighten($info-color, 40%)};
    --callout-text-succ: #{lighten($succ-color, 40%)};
    --callout-text-warn: #{lighten($warn-color, 40%)};
    --callout-text-erro: #{lighten($erro-color, 40%)};
}

.color-theme-dark, .color-theme-light {

    --succ-color: $succ-color;
    --warn-color: $warn-color;
    --erro-color: $erro-color;
    --info-color: $info-color;

    --el-text-color-primary: var(--text-main-color-p);
    --el-text-color-regular: var(--text-main-color-p);
    --el-text-color-secondary: var(--text-main-color-i);

    --el-color-primary: var(--main-color);
    --el-color-primary-dark-2:  var(--main-color-d1);
    --el-color-primary-light-3: var(--main-color-l1);
    --el-color-primary-light-5: var(--main-color-l2);
    --el-color-primary-light-7: var(--main-color-l3);
    --el-color-primary-light-8: var(--main-color-l4);
    --el-color-primary-light-9: var(--main-color-l5);

    --el-menu-active-color: var(--main-color);
    --el-menu-hover-text-color: var(--main-color);
    --el-menu-hover-bg-color: var(--main-color-l5);
    --el-menu-text-color: var(--text-main-color-p);

    --el-fill-color-blank: var(--fill-color);

    --el-border-color: var(--border-color);
    --el-border-color-light: var(--border-color);
    --el-border-color-lighter: var(--border-color);
    --el-border-color-extra-light: var(--border-color);
    --el-border-color-dark: var(--border-color);
    --el-border-color-darker: var(--border-color);
}

.markdown {
    svg {
        &.head-link {

            margin: 0 5px -0.2em -25px;

            opacity: 0;
            color: var(--text-color-h);

            transition: opacity 0.2s ease-in-out;

            &:hover {
                color: $succ-color;
                opacity: 1 !important;
            }
        }

    }

    h1, h2, h3, h4, h5, h6 {
        
        color: var(--text-color-h);
        margin: 0.5em 0;
        position: relative;

        &:hover {
            svg.head-link {
                opacity: 0.5;
            }
        }
    }

    ol, ul {
        padding-inline-start: 1.5em;
        > li {
            margin: 0.4em 0;
        }
    }

    p {
        color: var(--text-color-p);
        text-align: justify;
        margin: 0.5em 0;
    }

    strong {
        font-weight: bold;
    }

    em {
        color: var(--text-color-i);
        font-style: normal;
        font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, FontAwesome, serif;
    }

    blockquote {
        margin: 0.5em 0;
        padding: 0.2em 0 0.2em 0.8em;

        border-left: 5px solid var(--minor-color);
        background-color: rgb(from var(--minor-color-l3) r g b / 0.3);
        
        blockquote {
            margin-left: -0.2em;
            background-color: transparent;
        }
    }

    .video {
        width: 100%;
        
        aspect-ratio: 16 / 9;
    }

    .callout {
        margin: 0.5em 0;
        padding: 0.1em 0.5em;
        border-radius: 5px;

        background-color: rgb(from var(--page-color) / 0.6);

        overflow: hidden;

        .code-container {
            margin: 0.5em 0em 0.5em 2em;
        }

        &.has-headline {
            > p:first-child {
                margin: -0.1em -0.5em 0 -0.5em;
                padding: 0.5em;
            }
        }

        &.info {
            p, li {
                color: var(--callout-text-info);
            }

            border: 1px solid $info-color;
            box-shadow: 2px 2px 5px rgb(from $info-color r g b / 0.5);

            &.has-headline {
                > p:first-child {
                    background-color: rgb(from $info-color r g b / 0.4);
                    color: var(--callout-head-info);
                    
                    &::before {
                        float: left;
                        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" fill="%23#{$info-color-raw}"/></svg>');

                        margin: 2px 0.4em 2px 0;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
        
        &.error {
            p, li {
                color: var(--callout-text-erro);
            }
            border: 1px solid $erro-color;
            box-shadow: 2px 2px 5px rgb(from $erro-color r g b / 0.5);

            &.has-headline {
                > p:first-child {
                    background-color: rgb(from $erro-color r g b / 0.4);
                    color: var(--callout-head-erro);
                    
                    &::before {
                        float: left;
                        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" fill="%23#{$erro-color-raw}"/></svg>');

                        margin: 2px 0.4em 2px 0;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }

        &.success {
            p, li {
                color: var(--callout-text-succ);
            }
            border: 1px solid $succ-color;
            box-shadow: 2px 2px 5px rgb(from $succ-color r g b / 0.5);

            &.has-headline {
                > p:first-child {
                    background-color: rgb(from $succ-color r g b / 0.4);
                    color: var(--callout-head-succ);
                    
                    &::before {
                        float: left;
                        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" fill="%23#{$succ-color-raw}"/></svg>');

                        margin: 2px 0.4em 2px 0;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }

        &.warning {
            p, li {
                color: var(--callout-text-warn);
            }
            border: 1px solid $warn-color;
            box-shadow: 2px 2px 5px rgb(from $warn-color r g b / 0.5);

            &.has-headline {
                > p:first-child {
                    background-color: rgb(from $warn-color r g b / 0.4);
                    color: var(--callout-head-warn);
                    
                    &::before {
                        float: left;
                        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" fill="%23#{$warn-color-raw}"/></svg>');

                        margin: 2px 0.4em 2px 0;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }

    .callout .callout {
        background-color: transparent;
    }

    code {
        font-family: consolas
    }

    .code-container {
        border: 1px solid rgb(from var(--minor-color-l3) r g b / 0.5);
        background-color: rgb(from var(--page-color) r g b / 0.5);
        position: relative;

        margin-left: 0.5em;
        margin-right: -0.5em;

        > .line-number {
            box-sizing: content-box;

            position: absolute;
            right: 100%;

            padding: 1em 0.5em;

            font-family: consolas;

            > .number {
                display: block;
                text-align: right;
            }
        }

        > .copy-button {
            position: absolute;

            top: 0.5em;
            right: 0.5em;

            padding: 0.6em 0.6em;

            display: flex;
            align-items: center;
            justify-content: center;

            transition:
                0.2s ease-in-out opacity,
                0.2s ease-in-out color,
                0.2s ease-in-out background-color;

            color: var(--minor-color);
            background-color: var(--minor-color-l4);

            border: none;
            border-radius: 4px;

            cursor: pointer;

            opacity: 0;
        }

        &:hover > .copy-button {
            opacity: 1;

            &:hover {
                color: var(--minor-color-l4);
                background-color: var(--text-minor-color-h);
            }
        }

        .hljs {
            background-color: transparent;
        }
    }
    
    ::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
    }
}


.markdown.main-color, .markdown .main-color {
    --text-color-h: var(--text-main-color-h);
    --text-color-i: var(--text-main-color-i);
    --text-color-p: var(--text-main-color-p);
}

.markdown.minor-color, .markdown .main-color {
    --text-color-h: var(--text-minor-color-h);
    --text-color-i: var(--text-minor-color-i);
    --text-color-p: var(--text-minor-color-p);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    width: 1em;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    width: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    overflow: auto;
    height: 100%;
}
body {
    overflow: hidden;
    height: auto;
}