.color-theme-light {
    --card-b-color: #FFFFFF;
    --card-f-color: #A6A6A6;
    
    --main-color-l5: #FADFFF;
    --main-color-l4: #F2B1FF;
    --main-color-l3: #ED90FF;
    --main-color-l2: #EA7EFF;
    --main-color-l1: #E358FF;
    --main-color: #DD32FF;
    --main-color-d1: #C92EE8;
    --main-color-d2: #BC2AD9;
    --main-color-d3: #A826C2;
    --main-color-d4: #891F9E;
    --main-color-d5: #5F156E;

    --minor-color-l5: #E5F7FF;
    --minor-color-l4: #CCEEFF;
    --minor-color-l3: #B2E6FF;
    --minor-color-l2: #9EDFFF;
    --minor-color-l1: #8AD8FF;
    --minor-color: #66CCFF;
    --minor-color-d1: #61C2F2;
    --minor-color-d2: #57ADD9;
    --minor-color-d3: #478FB3;
    --minor-color-d4: #135B80;
    --minor-color-d5: #124761;

    --silk-color: #FFF119;
    --back-color: #EA7EFF;

    --border-color: #66CCFF;

    --text-main-color-h: #9B23B3;
    --text-main-color-p: #2E1333;
    --text-main-color-i: #8D5896;

    --text-minor-color-h: #5CB8E6;
    --text-minor-color-p: #285266;
    --text-minor-color-i: #667780;

    --page-color: #F5F5F5;
    --fill-color: #FEFEFE;

    --border-color: #EEEEEE;
}
